.outerdiv{
    display: flex;
    height: 100%;
    justify-content: center;
}

.Landing{
    display: flex;
    align-items: centers;
    justify-content: center;
    flex-direction: column;
    gap:1.7em;
    text-align: center;
}

.Landing img{
    height: 9em;
}
@media (max-width:560px){

    .outerdiv{
        height: 85%;
    }

    .Landing img{
        height: 8em;
    }
    .Landing p{
        font-size: 0.8em;
    }
}